<div class="main-container">

  <header>
    <div class="row mx-0">
      <!-- rayan  -->
      <div class="col-sm-4 black-bg white-color d-flex align-items-center">
        <div class="py-3 container">
          <i class="fa fa-user mr-2 purple-color"></i>
          Ray<span class="purple-color">an</span> 
          Maj<span class="purple-color">ed</span>
        </div>
      </div>
      <!-- search -->
      <div class="col-sm-8 white-bg">
        <div class="col-sm-5 py-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="search-input">
                <i class="fa fa-search"></i>
              </span>
            </div>
            <input 
              type="text" 
              class="form-control" 
              placeholder="Search" 
              aria-label="Search" 
              aria-describedby="search-input"
              [(ngModel)]="search"
              (ngModelChange)="searchContent($event)"
              >
          </div>
        </div>
      </div>
    </div>
  </header>

  <section>
    <div class="row mx-0">
      <!-- filters -->
      <aside class="col-sm-4 lighterblack-bg white-color">
        <app-filters
        (filtersOnChange)="filtersChanged($event)">
        </app-filters>
      </aside>
      <!-- content -->
      <div class="col-sm-8 py-3">
        <app-content></app-content>
      </div>
    </div>
  </section>
</div>
